# requirements.txt - Versão Recomendada

streamlit==1.35.0
pandas==2.2.2
pdfplumber
openpyxl
google-cloud-bigquery
pandas-gbq
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
pyarrow
streamlit-autorefresh